@model AspnetCoreMvcFull.Models.RegistrationViewModel
@{
    var successMessage = TempData["successMessage"]?.ToString();
    var ErrorMessage = TempData["ErrorMessage"]?.ToString();

}

<!-- Form Start-->
<form action="RegistrationAdmin" method="post">




    <div class="col-md-6">
        <div class="card">
            @if (!string.IsNullOrWhiteSpace(@successMessage))

            {
                <div class="alert alert-success">
                    <strong>Success! </strong>@successMessage
                </div>
            }



            else if (!string.IsNullOrWhiteSpace(@ErrorMessage))

            {
                <div class="alert alert-danger">
                    <strong>Error! </strong>@ErrorMessage
                </div>
            }
            <h5 class="card-header">Create Admin Form</h5>
            <div class="card-body">
                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Full Name" asp-for="fullname" />
                    <span asp-validation-for="fullname" class="text-danger"> </span>
                </div>

                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter User Name " asp-for="username" />
                    <span asp-validation-for="username" class="text-danger"> </span>
                </div>

                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email" asp-for="email" />
                    <span asp-validation-for="email" class="text-danger"> </span>
                </div>

                <div class="mb-4">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter Password" asp-for="pass" />
                    <span asp-validation-for="pass" class="text-danger"> </span>
                </div>

                







            </div>

            <div class="d-grid">
                <button class="btn btn-outline-primary" type="submit">Add</button>
            </div>



        </div>
    </div>
</form>
<!--Form End-->


<style>
    form{
      margin-left:20%;
    }
</style>
